body {
  font-family: "Merriweather", serif;
}
.secone {
  font-family: "Inter", sans-serif;
}

.banner {
  background-image: linear-gradient(#070211, #07021100),
    url("../images/Banner\ Image.png");
  margin: auto;
  background-repeat: no-repeat;
  border-radius: 16px;
  min-height: 600px;
  max-width: 1320px;
  border-radius: 16px;
}
.fline {
  color: #fff;
  text-align: center;
  font-size: 32px;
  font-weight: 400;
  padding-top: 177px;
}
.sline {
  color: #fff;
  text-align: center;
  font-size: 72px;
  font-weight: 900;
  margin-top: 0%;
}
.secone {
  color: #f00;
  text-align: center;
  font-family: Inter;
}
.discount {
  font-size: 88px;
  font-weight: 700;
  padding-top: 120px;
  margin-bottom: 0px;
}
#discr {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 0px;
}
#cat {
  margin-top: 0%;
  color: #070211;
  font-size: 48px;
  font-weight: 700;
}
.sectwo-wr {
  background-image: url("../images/Vectorrr.png");
  min-width: 1320px;
  min-height: 600px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border-radius: 16px;
  margin-top: 120px;
}
.wlc {
  color: #fff;
}

.desc {
  color: #fff;
}
.btn {
  border-radius: 5px;
  background: none;
  border: none;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
}
.secthree {
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  max-width: 1320px;
  max-height: 482px;
  color: #070211;
  font-family: Inter;
  font-size: 32px;
  font-weight: 600;
  margin: auto;
  border-radius: 16px;
}
.secthree-wr {
  text-align: center;
  margin-top: 50px;
  padding-top: 100px;
  padding-bottom: 214px;
}
.red {
  color: #f00;
  font-family: Inter;
  font-size: 32px;
  font-weight: 600;
}
.secondbtn {
  border-radius: 8px;
  background: red;
  border: none;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  display: inline-flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.circle {
  border-radius: 463px;
  border: 15px solid #f00;
  padding: 0.5%;
}
.secfour-wr {
  display: flex;
}
